* {
    color: #181818 !important;
    font-family: 'Roboto', sans-serif;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
.navbar{
    background-color: #F0F0F0 !important;
}

.navbar-expand .navbar-collapse {
    width: -webkit-fill-available;
}

.navbar-expand .navbar-nav {
    justify-content: space-evenly;
    width: inherit;
}

.navbar_text{
    font-family: Arial;
    padding: 10px;
}

.navbar-brand{
    font-size: 30px;
}

.navbar_brand_text{
    font-size: 17px;
    font-style: italic;
    color: #E48A00 !important;
}
.prev_button{
    text-align: left;
}
.next_button{
    float: right;
}
/* quiz style */
.question_num{
    text-align: center;
    font-style: bold;
    font-size: 50px;
}
.question_img{
    display: inline-block; 
    margin-left: 275px;
}
.q1_img{
    width: 75%;
    height: auto;
}
.q2_btn{
    margin-top: 25px;
}
.question_options{
    display: inline-block; 
}
.question_text{
    text-align: center;
    font-size: 40px;
}
#answ_text{
    text-align: center;
    font-size: 40px;
    visibility: visible;
}
.answ_img{
    width: 300px !important;
}
.scale_img{
    height: 200px;
    border: 1px #E48A00 solid;
    color: #E48A00!important;
    font-weight: bold;
    font-size: x-large;
    background-color: transparent;
    padding: 10px 32px;
    text-decoration: none; /* can potentially delete this */
    cursor: pointer;
}
#corectness{
}
.score{
    margin-top: 25px;
    font-size: 25px;
}
#answ_error{
    color:red;
    text-align: center;
    visibility: hidden;
    font-size: 25px;
    margin: 25px;
    padding:25px;
    
}
#answ_error_text{
    color:red;
    text-align: center;
    font-size: 30px;
}

body{
    background-color: #FFFAF2;
}

p {
    font-size: large;
}
.test.row  {
    margin: 15px -160px 15px 0px;
}
.learn.row  {
    margin: 15px 0px 15px 0px;
}
.center {
    text-align: center;
}
/* Home Page CSS */
.home > h2, .objectives > h2, 
.major-learn > h2 {
    font-weight: bold;
}

.home.row, .objectives.row {
    text-align: center;
    justify-content: center;
    margin: 30px 0px 30px 0px;
}

#start-learn-btn {
    border: 1px #E48A00 solid;
    color: #E48A00!important;
    font-weight: bold;
    font-size: x-large;
    background-color: transparent;
    padding: 10px 32px;
    text-decoration: none; /* can potentially delete this */
    transition: 250ms;
}

#start-learn-btn:hover {
    cursor: pointer;
    background-color: #E48A00;
    color: white!important;
    transition: 250ms;
}

/* Chord Pages CSS */
.chords {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.chord-name, .click-text {
    justify-content: center;
    font-weight: bold;
}

.chord-name > p {
    font-size: x-large;
    margin: 0px;
}

.chord img {
    width: -webkit-fill-available;
    margin: 10px;
}

.chord img:hover {
    border: 1px #E48A00 solid;
    cursor: pointer;
}

.click-text > p {
    font-style: italic;
    letter-spacing: 0.75px;
}

.buttons > button {
    position: fixed;
    bottom: 50px;
    font-weight: bold;
    font-size: x-large;
    background-color: #F0F0F0;
    padding: 7px 17px;
    width: 150px;
    text-decoration: none;
    border-radius: 10px;
    border: 2px solid black;
    display: flex;
    justify-content: space-between;
}

.buttons > button:hover {
    cursor: pointer;
    border: 2px solid #E48A00;
}

.next-btn {
    right: 50px;
}

.btn-text {
    color: black!important;
}

.btn-arrows {
    color: #E48A00!important;
    -webkit-text-stroke: 1px black;
}

/* Objectives CSS */
.module {
    justify-content: center;
    align-items: center;
    margin: 0px 0px 10px 0px;
}

.objective-circ {
    width: 18px;
    height: 18px;
    border: 2px solid black;
    border-radius: 100%;
    margin-right: 10px;
}

.objective-text {
    width: 100px;
    text-align: left;
}