* {
    color: white !important;
    font-family: 'Roboto', sans-serif;
}

.navbar{
    padding-top: 25pt;
    background-color: #181818 !important;
}
.navbar_text{
    font-family: Arial;
    padding: 20px;
}
.navbar-brand{
    font-size: 50px;
}
.navbar_brand_text{
    font-size: 17px;
    font-style: italic;
    color: orange !important;
}
body{
    background-color: #181818;
}

/* Home Page CSS */
.home > h2 {
    font-weight: bold;
}

.home > p {
    font-size: large;
}

.home.row {
    text-align: center;
    justify-content: center;
    margin: 30px 0px 30px 0px;
}

#start-learn-btn {
    border: 1px orange solid;
    color: orange!important;
    font-weight: bold;
    font-size: x-large;
    background-color: transparent;
    padding: 10px 32px;
    text-decoration: none; /* can potentially delete this */
}