{% extends "layout.html" %}

{% block content %}

<div class="home row">
    <h2>Learn the basics of playing the acoustic guitar through chords</h2>
</div>

<div class="home row">
    <p>Here you will learn the basics of playing the guitar by learning a variety of chords that will help you play many songs from the classics to what is currently on the radio.</p>
</div>

<div class="home row">
    <p>Press the button below to get started!</p>
</div>

<!-- Start learning module button below -->
<div class="home row">
{#    <button id="start-learn-btn">Get Started!</button>#}
    <button id = "start-learn-btn" onclick="window.location.href='/major';">Get Started!</button>

</div>
        

{% endblock %}