{% extends "layout.html" %}

{% block content %}
<script>
     function playMyAudio0(){
       document.getElementById("myAudio0").play();
     }
     function playMyAudio1(){
       document.getElementById("myAudio1").play();
     }
     function playMyAudio2(){
       document.getElementById("myAudio2").play();
     }
     function playMyAudio3(){
       document.getElementById("myAudio3").play();
     }
     function playMyAudio4(){
       document.getElementById("myAudio4").play();
     }
     function playMyAudio5(){
       document.getElementById("myAudio5").play();
     }
</script>
<div class="learn row">
    <h2>Major Chords</h2>
</div>

<div class="learn row">
    <p>
        A basic major chord always consists of three notes (or pitches). But 
        since the guitar consists of six strings, some of the notes are 
        unavoidably duplicated. All major chords are based on the major scale. 
        The C major, C major 7th and so on are consequently based on the C 
        major scale.
    </p>
</div>

<div class="learn click-text row">
    <p>Click the image to play the chord</p>
</div>

<!-- Container div to load in all the chords -->
<div class="all-chords learn row">
    <div class="chords col-2">
        <div class="chord-name row">
            <p>{{major.C.name}}</p>
        </div>
        <div class="chord row">
            <audio src="{{ url_for('static', filename = 'audio/'+ major.C.audio) }}" id="myAudio0"></audio>
            <img src="{{ url_for('static', filename = 'images/'+ major.C.image) }}" onclick = "playMyAudio0()">
        </div>
    </div>
    <div class="chords col-2">
        <div class="chord-name row">
            <p>{{major.D.name}}</p>
        </div>
        <div class="chord row">
            <audio src="{{ url_for('static', filename = 'audio/'+ major.D.audio) }}" id="myAudio1"></audio>
            <img src="{{ url_for('static', filename = 'images/'+major.D.image) }}" onclick = "playMyAudio1()">
        </div>
    </div>
    <div class="chords col-2">
        <div class="chord-name row">
            <p>{{major.E.name}}</p>
        </div>
        <div class="chord row">
            <audio src="{{ url_for('static', filename = 'audio/'+ major.E.audio) }}" id="myAudio2"></audio>
            <img src="{{ url_for('static', filename = 'images/'+major.E.image) }}" onclick = "playMyAudio2()">
        </div>
    </div>
    <div class="chords col-2">
        <div class="chord-name row">
            <p>{{major.A.name}}</p>
        </div>
        <div class="chord row">
            <audio src="{{ url_for('static', filename = 'audio/'+ major.A.audio) }}" id="myAudio3"></audio>
            <img src="{{ url_for('static', filename = 'images/'+major.A.image) }}" onclick = "playMyAudio3()">
        </div>
    </div>
    <div class="chords col-2">
        <div class="chord-name row">
            <p>{{major.F.name}}</p>
        </div>
        <div class="chord row">
            <audio src="{{ url_for('static', filename = 'audio/'+ major.F.audio) }}" id="myAudio4"></audio>
            <img src="{{ url_for('static', filename = 'images/'+major.F.image) }}" onclick = "playMyAudio4()">
        </div>
    </div>
    <div class="chords col-2">
        <div class="chord-name row">
            <p>{{major.G.name}}</p>
        </div>
        <div class="chord row">
            <audio src="{{ url_for('static', filename = 'audio/'+ major.G.audio) }}" id="myAudio5"></audio>
            <img src="{{ url_for('static', filename = 'images/'+major.G.image) }}" onclick = "playMyAudio5()">
        </div>
    </div>
</div>

<div class="buttons learn row">
    <button class="previous-btn" onclick="window.location.href='/';"><span class="btn-arrows"><<</span><span class="btn-text">BACK</span></button>
    <button class="next-btn" onclick="window.location.href='/minor';"><span class="btn-text">NEXT</span><span class="btn-arrows">>></span></button>
</div>

{% endblock %}



