{% extends "layout.html" %}

{% block content %}
<script>
     function playMyAudio0(){
       document.getElementById("myAudio0").play();
     }
     function playMyAudio1(){
       document.getElementById("myAudio1").play();
     }
     function playMyAudio2(){
       document.getElementById("myAudio2").play();
     }
     function playMyAudio3(){
       document.getElementById("myAudio3").play();
     }
     function playMyAudio4(){
       document.getElementById("myAudio4").play();
     }
     function playMyAudio5(){
       document.getElementById("myAudio5").play();
     }
</script>
<div class="learn row">
    <h2>Minor Chords</h2>
</div>

<div class="learn row">
    <p>
        The minor chords are together with the minor chords the most important
        chords to learn for guitarists. This chord type consist of a root note,
        a minor third and a fifth. Like the minor chords, they are named after 
        the scale of the root note and generally have a more somber 
        characteristic.
    </p>
</div>

<div class="learn click-text row">
    <p>Click the image to play the chord</p>
</div>

<!-- Container div to load in all the chords -->
<div class="all-chords learn row">
    <div class="chords col-2">
        <div class="chord-name row">
            <p>{{minor.C.name}}</p>
        </div>
        <div class="chord row">
            <!-- audio tag starts here -->
{#            <audio controls>#}
{#                <source src="{{ url_for('static', filename = 'audio/'+minor.C.audio) }}" type="audio/mp3">#}
{#            </audio>#}
            <!-- audio tag ends here -->
            <audio src="{{ url_for('static', filename = 'audio/'+ minor.C.audio) }}" id="myAudio0"></audio>
            <img src="{{ url_for('static', filename = 'images/'+ minor.C.image) }}" onclick = "playMyAudio0()">
        </div>
    </div>
    <div class="chords col-2">
        <div class="chord-name row">
            <p>{{minor.D.name}}</p>
        </div>
        <div class="chord row">
            <audio src="{{ url_for('static', filename = 'audio/'+ minor.D.audio) }}" id="myAudio1"></audio>
            <img src="{{ url_for('static', filename = 'images/'+minor.D.image) }}" onclick = "playMyAudio1()">
        </div>
    </div>
    <div class="chords col-2">
        <div class="chord-name row">
            <p>{{minor.E.name}}</p>
        </div>
        <div class="chord row">
            <audio src="{{ url_for('static', filename = 'audio/'+ minor.E.audio) }}" id="myAudio2"></audio>
            <img src="{{ url_for('static', filename = 'images/'+minor.E.image) }}" onclick = "playMyAudio2()">
        </div>
    </div>
    <div class="chords col-2">
        <div class="chord-name row">
            <p>{{minor.A.name}}</p>
        </div>
        <div class="chord row">
            <audio src="{{ url_for('static', filename = 'audio/'+ minor.A.audio) }}" id="myAudio3"></audio>
            <img src="{{ url_for('static', filename = 'images/'+minor.A.image) }}" onclick = "playMyAudio3()">
        </div>
    </div>
    <div class="chords col-2">
        <div class="chord-name row">
            <p>{{minor.F.name}}</p>
        </div>
        <div class="chord row">
            <audio src="{{ url_for('static', filename = 'audio/'+ minor.F.audio) }}" id="myAudio4"></audio>
            <img src="{{ url_for('static', filename = 'images/'+minor.F.image) }}" onclick = "playMyAudio4()">
        </div>
    </div>
    <div class="chords col-2">
        <div class="chord-name row">
            <p>{{minor.G.name}}</p>
        </div>
        <div class="chord row">
            <audio src="{{ url_for('static', filename = 'audio/'+ minor.G.audio) }}" id="myAudio5"></audio>
            <img src="{{ url_for('static', filename = 'images/'+minor.G.image) }}" onclick = "playMyAudio5()">
        </div>
    </div>
</div>

<div class="buttons learn row">
    <button class="previous-btn" onclick="window.location.href='/major';"><span class="btn-arrows"><<</span><span class="btn-text">BACK</span></button>
    <button class="next-btn" onclick="window.location.href='/7th';"><span class="btn-text">NEXT</span><span class="btn-arrows">>></span></button>
</div>

{% endblock %}