{% extends "layout.html" %}
{% block content %}
    <div id="question_num">Question 2</div>
    <div id="question_text">Which of the following is A major scale?</div>
    <div>
        <span><img src="../data/images/d_minor.png"></span>
        <span><img src="../data/images/d_minor.png"></span>
        <span><img src="../data/images/d_minor.png"></span>
        <span><img src="../data/images/d_minor.png"></span>
    </div>
    
    <div>
        <span class="text-left">
        <input type="button" value="Previous" class="prev_button">
        </span>
        <span class="text-right">
        <input type="button" value="Next" class="next_button">
        </span>
    </div>
{% endblock %}