{% extends "layout.html" %}
{% block content %}
<div class="question_text">
    <br>
    <div class="start_text">When you are ready for the quiz press the start button!</div>
    <div class="start_text">Only press start once you are done reviewing</div>
    <div class="start_text">Once you start you can't go back!</div>
    <br>
    <button id="start-learn-btn" onclick="window.location.href='/quiz/1/';">Start</button>
    <br>
    <br>
    <button id="start-learn-btn" style="color: gray!important; border: 1px gray solid;" onclick="window.location.href='/learn/1';">Review</button>
</div>
{% endblock %}
