{% extends "layout.html" %}
{% block content %}
<div class="score"> Score: {{score}} / 7</div>
<div class="question_num">Question {{ quiz_data.id }}</div>
<div class="question_text"> {{ quiz_data.question }}</div>
<div class="question_img"><img class="q1_img" src="{{ url_for('static', filename = 'images/'+quiz_data.image0.image) }}"></div>
<div class="question_options">
    <form>
    <input type="radio" id="C major" name="answer" value="1">
    <label for="C major">C major</label><br>
    <input type="radio" id="E7" name="answer" value="2">
    <label for="E7">E7</label><br>
    <input type="radio" id="D major" name="answer" value="3">
    <label for="D major">D major</label><br>
    <input type="radio" id="C minor" name="answer" value="4">
    <label for="C minor">C minor</label><br>
    </form> 
</div>

<div id="answ_error"><span id="answ_error_text"></span></div>
<div class="buttons quiz row">
    <button class="next-btn" onclick=quiz1_submit({{quiz_data.id}},{{quiz_data.nextID}}) ><span class="btn-text">NEXT</span><span class="btn-arrows">>></span></button>
</div>
{% endblock %}
